In [1]:
from pycaret.regression import *
import pandas as pd

In [2]:
dat = pd.read_excel('validate.xlsx')

In [3]:
dat.head()

      customer_id  age gender  annual_spend  spending_ratio
0  CUS-1005756967   25      F         32561            0.34
1  CUS-1005756977   30      M         13672            0.21
2  CUS-1005756943   21      M         22315            0.44
3  CUS-1005756923   32      M          5002            0.36
4  CUS-1005756924   27      F          7154            0.29

In [4]:
data = pd.read_csv('data/salary.csv')

In [5]:
data.head()

,customer_id,credit_amount_3m,annual_salary,age,gender,annual_spend,spending_ratio
0,CUS-1005756958,12616.11,50464.44,53,F,14611.44,0.29
1,CUS-1117979751,25050.55,100202.20,21,M,35735.28,0.36
2,CUS-1140341822,11499.06,45996.24,28,M,22046.16,0.48
3,CUS-1147642491,22248.07,88992.28,34,F,26931.00,0.30
4,CUS-1196156254,27326.11,109304.44,34,F,34898.44,0.32

In [6]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 7 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   customer_id       100 non-null    object
 1   credit_amount_3m  100 non-null    float64
 2   annual_salary     100 non-null    float64
 3   age               100 non-null    int64
 4   gender            100 non-null    object
 5   annual_spend      100 non-null    float64
 6   spending_ratio    100 non-null    float64
dtypes: float64(4), int64(1), object(2)
memory usage: 5.6+ KB

In [7]:
data.drop(columns=['credit_amount_3m'], inplace=True)

In [8]:
mod = setup(data=data, target='annual_salary', session_id=123, ignore_features=['customer_id'], categorical_features=['gender'],
           transformation=True, normalize=True, remove_outliers=True, feature_interaction=True)

In [9]:
best = compare_models()

In [10]:
best

HuberRegressor(alpha=0.0001, epsilon=1.35, fit_intercept=True, max_iter=100,
               tol=1e-05, warm_start=False)

In [12]:
save_model(best, 'salary_model')

Transformation Pipeline and Model Successfully Saved

(Pipeline(memory=None,
          steps=[('dtypes',
                  DataTypes_Auto_infer(categorical_features=['gender'],
                                       display_types=True,
                                       features_todrop=['customer_id'],
                                       id_columns=[], ml_usecase='regression',
                                       numerical_features=[],
                                       target='annual_salary',
                                       time_features=[])),
                 ('imputer',
                  Simple_Imputer(categorical_strategy='not_available',
                                 fill_value_categorical=None,
                                 fill_value_nume...
                 ('feature_select', 'passthrough'), ('fix_multi', 'passthrough'),
                 ('dfs',
                  DFS_Classic(interactions=['multiply'], ml_usecase='regression',
                              n_jobs=-1, random_state=123, subclass='binary',
                              target='annual_salary',
                              top_features_to_pick_percentage=None)),
                 ('pca', 'passthrough'),
                 ['trained_model',
                  HuberRegressor(alpha=0.0001, epsilon=1.35, fit_intercept=True,
                                 max_iter=100, tol=1e-05, warm_start=False)]],
          verbose=False),
 'salary_model.pkl')

In [ ]:
data[data['spending_ratio'] == 1]